.container {
  display: grid;
  width: 800px;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 140px 500px 120px;
  margin: 0 auto;
  gap: 30px 20px;
}
.header {
  grid-column: 1 / 4;
  background-color: #eedcb3;
}

.list {
    list-style: none;
}

.nav-aside {
  background-color: aqua;
}
.main {
  background-color: aqua;
}
.main-aside {
  background-color: aqua;
}
.footer {
  grid-column: 1/4;
  background-color: #eedcb3;
  .list {
    display: flex;
    gap: 10px;
  }
}
